  
*{
    padding: 0;
    margin: 0;
}


body {
	background: black;
}

#container{
    width: 400px;
    height: 500px;
    margin: auto;
    overflow: hidden;
}
#bars{
    width: 50px;
    height: 500px;
    background: linear-gradient(to bottom, red, orange);
    position: relative;
    left: 400px;
    animation: bars 2s infinite linear;
}
@keyframes bars{
    0%{left:400px}
    100%{left:-50px}
}
#space{
    width: 50px;
    height: 150px;
    background: linear-gradient(to bottom, pink, white);
    position: relative;
    left: 400px;
    top: -500px;
    animation: bars 2s infinite linear;
}
#character{
    width: 20px;
    height: 20px;
    background: linear-gradient(to bottom, pink, white);
    position: absolute;
    top: 100px;
    border-radius: 50%;
}


  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(10, 10, 10) 50%, rgb(61, 57, 61) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
